.mainGrid {
    background-color: white;
    position: absolute;
    left: 425px;
    top: 55px;
    margin: 0px;
}

.nextPieceGrid {
    background-color: white;
    position: absolute;
    left: 850px;
    top: 55px;
    margin: 0px;
}

.invisibleGridCell {
    background-color:brown;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.emptyGridCell {
    background-color:brown;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.NextPieceGridCell {
    background-color:black;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid white;
}

.purplePiece {
    background-color:rgb(230, 47, 153);
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.bluePiece {
    background-color:rgb(51, 16, 148);
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.greenPiece {
    background-color:green;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.orangePiece {
    background-color: orange;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.redPiece {
    background-color: red;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.yellowPiece {
    background-color: yellow;
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

.darkBluePiece {
    background-color: rgb(10, 3, 39);
    width: 35px;
    height: 35px;
    position: absolute;
    border: solid black;
}

